---
import Icon from './Icon.astro';
import ThemeToggle from './ThemeToggle.astro';
import type { iconPaths } from './IconPaths';

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Project', href: '/work/' },
	{ label: 'About', href: '/about/' },
];

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: { label: string; href: string; icon: keyof typeof iconPaths }[] = [
	{ label: 'Twitter', href: 'https://x.com/juju_237_?t=Fx-rf060JU0WJXCTyJxH8w&s=08', icon: 'twitter-logo' },
	/*{ label: 'Twitch', href: 'https://twitch.tv/me', icon: 'twitch-logo' },*/
	{ label: 'GitHub', href: 'https://github.com/dashboard', icon: 'github-logo' },
	/*{ label: 'CodePen', href: 'https://codepen.io/me', icon: 'codepen-logo' },*/
	/*{ label: 'dribbble', href: 'https://dribbble.com/me', icon: 'dribbble-logo' },*/
	{ label: 'Linkedin', href: 'www.linkedin.com/in/junior-ongla-aa026330b', icon: 'linkedin-logo' },
];
---

<nav>
	<div class="menu-header">
		<a href="/" class="site-title">
			<svg xmlns="http://www.w3.org/2000/svg" width="56" height="67" viewBox="0 0 56 67" fill="none">
				<path d="M39.4074 6.93402C39.4074 5.86959 39.299 5.01806 39.0821 4.3794C38.9194 3.71033 38.5398 3.1933 37.9433 2.82836C37.4011 2.433 36.5878 2.17451 35.5033 2.05286C34.4188 1.9008 33.009 1.79436 31.2738 1.73354V0H56V1.73354C54.2648 1.76395 52.855 1.85515 51.7705 2.00721C50.7403 2.15927 49.9269 2.433 49.3304 2.82836C48.7882 3.22372 48.4086 3.77116 48.1917 4.47065C48.0291 5.17013 47.9477 6.09768 47.9477 7.25335V35.2175C47.9477 39.0494 46.5108 41.969 43.6369 43.9762C40.763 45.9834 36.5607 46.987 31.0298 46.987C27.2883 46.987 24.306 46.5765 22.0828 45.7554C19.8054 44.9646 18.6667 43.9002 18.6667 42.562C18.6667 41.7713 19.0463 41.1631 19.8054 40.7373C20.5103 40.3419 21.5135 40.1443 22.8148 40.1443C23.8451 40.1443 24.6856 40.2811 25.3363 40.5548C25.9327 40.8589 26.6376 41.4368 27.451 42.2883C28.3728 43.2615 29.1591 43.9154 29.8098 44.2499C30.5147 44.6148 31.4094 44.7974 32.4938 44.7974C34.717 44.7974 36.4251 44.1283 37.618 42.7902C38.811 41.452 39.4074 39.5512 39.4074 37.0878V6.93402Z" fill="white"/>
				<path d="M28 23.4935C31.9487 23.4935 35.6282 24.0626 39.0385 25.2007C42.4487 26.3389 45.4102 27.8992 47.9231 29.8818C50.4359 31.8644 52.4103 34.1958 53.8462 36.8759C55.2821 39.5561 56 42.4565 56 45.5772C56 48.5511 55.2596 51.3414 53.7789 53.9481C52.343 56.5548 50.3686 58.8311 47.8558 60.7769C45.343 62.6861 42.3814 64.2097 38.9712 65.3479C35.5609 66.4493 31.9039 67 28 67C24.0962 67 20.4391 66.4493 17.0289 65.3479C13.6186 64.2097 10.6571 62.6861 8.14425 60.7769C5.63143 58.8311 3.63463 56.5548 2.15386 53.9481C0.717964 51.3414 0 48.5511 0 45.5772C0 42.4565 0.717964 39.5561 2.15386 36.8759C3.58976 34.1958 5.56412 31.8644 8.07694 29.8818C10.5898 27.8992 13.5513 26.3389 16.9615 25.2007C20.3718 24.0626 24.0513 23.4935 28 23.4935ZM28 63.9711C30.9616 63.9711 33.609 63.5489 35.9423 62.7045C38.3205 61.8601 40.3397 60.6485 42 59.0697C43.7051 57.491 45.0064 55.5819 45.9039 53.3423C46.8013 51.066 47.25 48.5328 47.25 45.7425C47.25 42.8053 46.8013 40.1618 45.9039 37.8121C45.0064 35.4257 43.7276 33.4064 42.0673 31.7543C40.407 30.0654 38.3878 28.7804 36.0096 27.8993C33.6314 26.9814 30.9616 26.5225 28 26.5225C25.0385 26.5225 22.3686 26.9814 19.9904 27.8993C17.6122 28.7804 15.593 30.0654 13.9327 31.7543C12.2724 33.4064 10.9936 35.4257 10.0962 37.8121C9.19873 40.1618 8.75003 42.8053 8.75003 45.7425C8.75003 48.5328 9.19873 51.066 10.0962 53.3423C10.9936 55.5819 12.2724 57.491 13.9327 59.0697C15.593 60.6485 17.6122 61.8601 19.9904 62.7045C22.3686 63.5489 25.0385 63.9711 28 63.9711Z" fill="#643884"/>
				</svg>
							JUNIOR ONGLA
		</a>
		<menu-button>
			<template>
				<button class="menu-button" aria-expanded="false">
					<span class="sr-only">Menu</span>
					<Icon icon="list" />
				</button>
			</template>
		</menu-button>
	</div>
	<noscript>
		<ul class="nav-items">
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</noscript>
	<noscript>
		<div class="menu-footer">
			<div class="socials">
				{
					iconLinks.map(({ href, icon, label }) => (
						<a href={href} class="social">
							<span class="sr-only">{label}</span>
							<Icon icon={icon} />
						</a>
					))
				}
			</div>
		</div>
	</noscript>
	<div id="menu-content" hidden>
		<ul class="nav-items">
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
		<div class="menu-footer">
			<div class="socials">
				{
					iconLinks.map(({ href, icon, label }) => (
						<a href={href} class="social">
							<span class="sr-only">{label}</span>
							<Icon icon={icon} />
						</a>
					))
				}
			</div>

			<div class="theme-toggle">
				<ThemeToggle />
			</div>
		</div>
	</div>
</nav>

<script>
	class MenuButton extends HTMLElement {
		constructor() {
			super();

			// Inject menu toggle button when JS runs.
			this.appendChild(this.querySelector('template')!.content.cloneNode(true));
			const btn = this.querySelector('button')!;

			// Hide menu (shown by default to support no-JS browsers).
			const menu = document.getElementById('menu-content')!;
			menu.hidden = true;
			// Add "menu-content" class in JS to avoid covering content in non-JS browsers.
			menu.classList.add('menu-content');

			/** Set whether the menu is currently expanded or collapsed. */
			const setExpanded = (expand: boolean) => {
				btn.setAttribute('aria-expanded', expand ? 'true' : 'false');
				menu.hidden = !expand;
			};

			// Toggle menu visibility when the menu button is clicked.
			btn.addEventListener('click', () => setExpanded(menu.hidden));

			// Hide menu button for large screens.
			const handleViewports = (e: MediaQueryList | MediaQueryListEvent) => {
				setExpanded(e.matches);
				btn.hidden = e.matches;
			};
			const mediaQueries = window.matchMedia('(min-width: 50em)');
			handleViewports(mediaQueries);
			mediaQueries.addEventListener('change', handleViewports);
		}
	}
	customElements.define('menu-button', MenuButton);
</script>

<style>
	nav {
		z-index: 9999;
		position: relative;
		font-family: var(--font-brand);
		font-weight: 500;
		margin-bottom: 3.5rem;
	}

	.menu-header {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
		padding: 1.5rem;
	}

	.site-title {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		line-height: 1.1;
		color: var(--gray-0);
		text-decoration: none;
	}

	.menu-button {
		position: relative;
		display: flex;
		border: 0;
		border-radius: 999rem;
		padding: 0.5rem;
		font-size: 1.5rem;
		color: var(--gray-300);
		background: radial-gradient(var(--gray-900), var(--gray-800) 150%);
		box-shadow: var(--shadow-md);
	}

	.menu-button[aria-expanded='true'] {
		color: var(--gray-0);
		background: linear-gradient(180deg, var(--gray-600), transparent),
			radial-gradient(var(--gray-900), var(--gray-800) 150%);
	}

	.menu-button[hidden] {
		display: none;
	}

	.menu-button::before {
		position: absolute;
		inset: -1px;
		content: '';
		background: var(--gradient-stroke);
		border-radius: 999rem;
		z-index: -1;
	}

	.menu-content {
		position: absolute;
		left: 0;
		right: 0;
	}

	.nav-items {
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: var(--text-md);
		line-height: 1.2;
		list-style: none;
		padding: 2rem;
		background-color: var(--gray-999);
		border-bottom: 1px solid var(--gray-800);
	}

	.link {
		display: inline-block;
		color: var(--gray-300);
		text-decoration: none;
	}

	.link.active {
		color: var(--gray-0);
	}

	.menu-footer {
		--icon-size: var(--text-xl);
		--icon-padding: 0.5rem;

		display: flex;
		justify-content: space-between;
		gap: 0.75rem;
		padding: 1.5rem 2rem 1.5rem 1.5rem;
		background-color: var(--gray-999);
		border-radius: 0 0 0.75rem 0.75rem;
		box-shadow: var(--shadow-lg);
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
		font-size: var(--icon-size);
	}

	.social {
		display: flex;
		padding: var(--icon-padding);
		text-decoration: none;
		color: var(--accent-dark);
		transition: color var(--theme-transition);
	}

	.social:hover,
	.social:focus {
		color: var(--accent-text-over);
	}

	.theme-toggle {
		display: flex;
		align-items: center;
		height: calc(var(--icon-size) + 2 * var(--icon-padding));
	}

	@media (min-width: 50em) {
		nav {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			align-items: center;
			padding: 2.5rem 5rem;
			gap: 1rem;
		}

		.menu-header {
			padding: 0;
		}

		.site-title {
			font-size: var(--text-lg);
		}

		.menu-content {
			display: contents;
		}

		.nav-items {
			position: relative;
			flex-direction: row;
			font-size: var(--text-sm);
			border-radius: 999rem;
			border: 0;
			padding: 0.5rem 0.5625rem;
			background: radial-gradient(var(--gray-900), var(--gray-800) 150%);
			box-shadow: var(--shadow-md);
		}

		.nav-items::before {
			position: absolute;
			inset: -1px;
			content: '';
			background: var(--gradient-stroke);
			border-radius: 999rem;
			z-index: -1;
		}

		.link {
			padding: 0.5rem 1rem;
			border-radius: 999rem;
			transition:
				color var(--theme-transition),
				background-color var(--theme-transition);
		}

		.link:hover,
		.link:focus {
			color: var(--gray-100);
			background-color: var(--accent-subtle-overlay);
		}

		.link.active {
			color: var(--accent-text-over);
			background-color: var(--accent-regular);
		}

		.menu-footer {
			--icon-padding: 0.375rem;

			justify-self: flex-end;
			align-items: center;
			padding: 0;
			background-color: transparent;
			box-shadow: none;
		}

		.socials {
			display: none;
		}
	}

	@media (min-width: 60em) {
		.socials {
			display: flex;
			justify-content: flex-end;
			gap: 0;
		}
	}
	@media (forced-colors: active) {
		.link.active {
			color: SelectedItem;
		}
	}
</style>
